.canvas {
  touch-action: none;
}

body {
  margin: 0px;
}

#leva__root > * {
  top: 650px;
  right: 1225px;
  border-radius: 20px;
}
.App {
  width: 100vw;
  height: 100vh;
  background-color: #868585;
  padding: 0;
  margin: 0;
  position: fixed;
  -webkit-user-select: none; /* Safari */
  -ms-user-select: none; /* IE 10 and IE 11 */
  user-select: none; /* Standard syntax */
}

.info-gitar {
  position: fixed;
  z-index: 2;
  left: 1200px;
  margin-top: 50px;
  border: white;
  color: white;
  background-color: #292d39;
  border-radius: 20px;
  height: 50px;
  width: 320px;
  font-family: "Roboto", sans-serif;
  text-align: center;
  box-shadow: 5px 5px #a8a6a6;
}

.info-gitar-title {
  margin-left: 18px;
  top: 42px;
  position: fixed;
  font-size: small;
}

.info-control {
  position: fixed;
  color: white;
  background-color: #292d39;
  border-radius: 20px;
  top: 600px;
  left: 1224px;
  width: 280px;
  height: 150px;
  padding: 5px;
  font-size: medium;
  font-weight: bold;
  text-align: center;
  font-family: "Roboto", sans-serif;
  box-shadow: 5px 5px #a8a6a6;
}

.canvas-export {
  position: fixed;
}

.title {
  bottom: 200px;
  width: 30vw;
  margin-right: 100px;
  font-family: "Roboto", sans-serif;
  position: fixed;
  -webkit-user-select: none; /* Safari */
  -ms-user-select: none; /* IE 10 and IE 11 */
  user-select: none; /* Standard syntax */
}

.box {
  background-color: #292d39;
  position: fixed;
  left: 20px;
  bottom: 25px;
  width: 300px;
  height: 650px;
  border-radius: 20px;
  box-shadow: 5px 5px #a8a6a6;
}

.header {
  background-color: #292d39;
  color: white;
  font-weight: bold;
  font-size: small;
  font-family: "Roboto", sans-serif;
  height: 50px;
  width: 300px;
  bottom: 690px;
  margin-left: 24px;
  border-radius: 20px;
  position: fixed;
  box-shadow: 5px 5px #a8a6a6;
}

.header-title {
  padding-left: 38px;
  top: 38px;
  position: fixed;
  z-index: 2;
}

.configurator-type {
  font-family: "Roboto", sans-serif;
  /* box-shadow: 3px 3px #a8a6a6; */
  border: solid rgb(178, 174, 174);
  padding: 5px;
  right: 1235px;
  width: 250px;
  height: 100px;
  border-color: solid black;
  background-color: #181c20;
  border-radius: 20px;
  bottom: 540px;
  color: white;
  text-align: center;
  -webkit-user-select: none; /* Safari */
  -ms-user-select: none; /* IE 10 and IE 11 */
  user-select: none; /* Standard syntax */
  position: fixed;
  transition: 0.4s;
}

.configurator-type:hover {
  background-color: #181c20;
  transition: 1s;
}

.select-type {
  font-weight: bold;
  width: auto;
  margin-left: 5px;
  padding: 8px;
  background-color: #292d39;
  color: white;
  border-radius: 5px;
  font-weight: bold;
}

.select-type:hover {
  cursor: pointer;
  opacity: 5;
  background-color: rgb(13, 13, 224);
  transition: 0.4s;
}

.select-type:active {
  background-color: rgb(13, 13, 223);
  /* box-shadow: 0 5px #666; */
  transform: translateY(4px);
  transition: 0.4s;
}

.configurator-material {
  overflow: hidden;
  position: fixed;
  font-family: "Roboto", sans-serif;
  font-weight: bold;
  padding: 5px;
  margin-left: 15px;
  width: 250px;
  height: 145px;
  bottom: 355px;
  background-color: #181c20;
  border: solid rgb(178, 174, 174);
  border-radius: 20px;
  color: white;
  text-align: center;
  transition: 1s;
  -webkit-user-select: none; /* Safari */
  -ms-user-select: none; /* IE 10 and IE 11 */
  user-select: none; /* Standard syntax */
}

.configurator-material:hover {
  overflow-y: scroll;
  background-color: #181c20;
  height: 500px;
  width: 400px;
  bottom: 150px;
  overflow-y: scroll;
  transition: 1s;
  z-index: 2;
}

.colorpicker-tuner .react-colorful {
  width: 300px;
}
.colorpicker-neck .react-colorful {
  width: 300px;
}
.colorpicker-nut .react-colorful {
  width: 300px;
}
.colorpicker-fret .react-colorful {
  width: 300px;
}
.colorpicker-fretboard .react-colorful {
  width: 300px;
}
.colorpicker-body .react-colorful {
  width: 300px;
}
.colorpicker-bridge .react-colorful {
  width: 300px;
}
.colorpicker-bridgenut .react-colorful {
  width: 300px;
}

.remove-material-tuner,
.remove-material-fret,
.remove-material-nut,
.remove-material-body,
.remove-material-fretboard,
.remove-material-bridgenut,
.remove-material-bridge,
.remove-material-neck {
  background-color: red;
  margin-top: 10px;
  font-family: "Roboto", sans-serif;
  font-weight: bold;
  color: white;
}

.configurator-material-reset {
  width: auto;
  border-radius: 5px;
  color: white;
  margin-right: 250px;
  margin-top: 30px;
  background-color: rgb(255, 0, 0);
  transition: 0.2s;
  cursor: pointer;
  font-weight: bold;
}

.configurator-material-reset:active {
  background-color: rgb(255, 0, 0);
  transform: translateY(4px);
}

.configurator-title-tuner,
.configurator-title-fret,
.configurator-title-body,
.configurator-title-bridge,
.configurator-title-fretBoard,
.configurator-title-nut {
  /* text-transform: uppercase; */
  padding-top: 10px;
  padding-bottom: 10px;
  font-weight: bold;
  font-family: "Roboto", sans-serif;
  color: white;
  text-align: left;
  background-position-x: fixed;
  background-position-y: sticky;
  font-size: medium;
}

/* .configurator-fret,
.configurator-body,
.configurator-bridge,
.configurator-fretBoard {
  margin-bottom: 5px;
  text-align: left;
} */

.configurator-image {
  border: solid rgb(178, 174, 174);
  position: fixed;
  overflow: hidden;
  font-family: "Roboto", sans-serif;
  font-weight: bold;
  font-size: large;
  padding: 5px;
  margin-left: 15px;
  width: 250px;
  height: 155px;
  bottom: 160px;
  background-color: #181c20;
  border-radius: 20px;
  color: white;
  text-align: center;
  transition: 1s;
  -webkit-user-select: none; /* Safari */
  -ms-user-select: none; /* IE 10 and IE 11 */
  user-select: none; /* Standard syntax */
}

.configurator-image:hover {
  background-color: #181c20;
  height: 485px;
  width: 400px;
  bottom: 160px;
  overflow-y: scroll;
  transition: 1s;
}

.image-value {
  font-size: medium;
}

.image-removeall {
  color: white;
  background-color: red;
  font-family: "Roboto", sans-serif;
  font-size: small;
  font-weight: bold;
  margin-top: 10px;
}

.configurator-input-image {
  border-radius: 5px;
  padding-bottom: 8px;
  color: white;
  font-weight: bold;
  margin-right: 50px;
  font-family: "Roboto", sans-serif;
  font-size: small;
}

.configurator-input-image:hover {
  cursor: pointer;
}

.configurator-remove-image {
  border-radius: 5px;
  background-color: red;
  font-family: "Roboto", sans-serif;
  font-weight: bold;
  /* transform: translateY(px); */
  color: white;
}

.configurator-remove-image:hover {
  cursor: pointer;
}

.canvas-value {
  border: solid black 2px;
  margin: 5px;
  height: 150px;
  width: 450px;
  /* background-image: url(../public/transparant.jpg); */
}

.button-canvas {
  text-align: left;
  margin-left: 10px;
}

.title {
  position: fixed;
  left: 10px;
  color: black;
}
